
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  font-size: 1.1rem;
}
.loginForm {
  background: #fff;
  width: 40%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}